// Code generated by Fern. DO NOT EDIT.

package devices

import (
	context "context"
	os "os"

	fleet "github.com/joeblew999/fleet-api/sdk/go"
	core "github.com/joeblew999/fleet-api/sdk/go/core"
	internal "github.com/joeblew999/fleet-api/sdk/go/internal"
	option "github.com/joeblew999/fleet-api/sdk/go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.AccessClientID == "" {
		options.AccessClientID = os.Getenv("FLEET_API_ACCESS_CLIENT_ID")
	}
	if options.AccessClientSecret == "" {
		options.AccessClientSecret = os.Getenv("FLEET_API_ACCESS_CLIENT_SECRET")
	}
	if options.AccessToken == "" {
		options.AccessToken = os.Getenv("FLEET_API_ACCESS_TOKEN")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	client.Devices.List(
//	    context.TODO(),
//	)
func (c *Client) List(
	ctx context.Context,
	opts ...option.RequestOption,
) (*fleet.DeviceList, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &fleet.GetDevicesRequest{
//	    ID: "3f9a1c0b7d2e4a65",
//	}
//	client.Devices.Get(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Get(
	ctx context.Context,
	request *fleet.GetDevicesRequest,
	opts ...option.RequestOption,
) (*fleet.DeviceView, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// For a machine that is gone, or an id no longer used. A machine that reports again comes back.
//
// Example:
//
//	request := &fleet.DeleteDevicesRequest{
//	    ID: "3f9a1c0b7d2e4a65",
//	}
//	client.Devices.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *fleet.DeleteDevicesRequest,
	opts ...option.RequestOption,
) (*fleet.DeviceDeleted, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &fleet.HistoryDevicesRequest{
//	    ID: "3f9a1c0b7d2e4a65",
//	    Since: fleet.Int64(
//	        int64(0),
//	    ),
//	    Limit: fleet.Int(
//	        50,
//	    ),
//	}
//	client.Devices.History(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) History(
	ctx context.Context,
	request *fleet.HistoryDevicesRequest,
	opts ...option.RequestOption,
) (*fleet.DeviceHistory, error) {
	response, err := c.WithRawResponse.History(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Stored as posted. The same id and ts again is a duplicate and changes nothing, so a machine can resend what it could not deliver. A machine's service token posts only for the device it was enrolled for: another id is 403.
//
// Example:
//
//	request := &fleet.ReportDevicesRequest{
//	    ID: "3f9a1c0b7d2e4a65",
//	    Body: &fleet.DeviceReport{
//	        Battery: &fleet.DeviceBattery{
//	            Count: fleet.Int(
//	                1,
//	            ),
//	            Percent: fleet.Float64(
//	                100,
//	            ),
//	            State: fleet.DeviceBatteryStateFull.Ptr(),
//	            Status: fleet.DeviceBatteryStatusOk,
//	        },
//	        Claims: &fleet.DeviceClaims{
//	            Held: []*fleet.DeviceClaim{
//	                &fleet.DeviceClaim{
//	                    Caller: "lead-agent",
//	                    ID: "20261003-102233-ab12c",
//	                    Job: "run the tests on macOS",
//	                    Since: int64(1790842300000),
//	                    Until: fleet.Int64(
//	                        int64(1790843200000),
//	                    ),
//	                },
//	            },
//	            Slots: fleet.Int(
//	                2,
//	            ),
//	            Status: fleet.DeviceClaimsStatusOk,
//	        },
//	        CPU: &fleet.DeviceCPU{
//	            Count: fleet.Int(
//	                12,
//	            ),
//	            Load1: fleet.Float64(
//	                2.73,
//	            ),
//	            Status: fleet.DeviceCPUStatusOk,
//	        },
//	        Disks: []*fleet.DeviceDisk{
//	            &fleet.DeviceDisk{
//	                Free: fleet.Int64(
//	                    int64(16648376320),
//	                ),
//	                Fs: fleet.String(
//	                    "apfs",
//	                ),
//	                Path: "/System/Volumes/Data",
//	                Roles: []fleet.DeviceDiskRolesItem{
//	                    fleet.DeviceDiskRolesItemSystem,
//	                    fleet.DeviceDiskRolesItemData,
//	                },
//	                Status: fleet.DeviceDiskStatusOk,
//	                Total: fleet.Int64(
//	                    int64(494384795648),
//	                ),
//	            },
//	        },
//	        Host: &fleet.DeviceHost{
//	            Arch: "arm64",
//	            Boot: fleet.Int64(
//	                int64(1790690961000),
//	            ),
//	            Guest: fleet.Bool(
//	                false,
//	            ),
//	            Model: fleet.String(
//	                "Mac14,10",
//	            ),
//	            Name: "studio-1",
//	            Os: fleet.DeviceHostOsDarwin,
//	            OsName: fleet.String(
//	                "macOS",
//	            ),
//	            OsVersion: fleet.String(
//	                "27.0.1",
//	            ),
//	        },
//	        ID: "3f9a1c0b7d2e4a65",
//	        Keeper: &fleet.DeviceKeeper{
//	            Status: fleet.DeviceKeeperStatusNone,
//	        },
//	        Lid: &fleet.DeviceLid{
//	            Closed: fleet.Bool(
//	                false,
//	            ),
//	            Status: fleet.DeviceLidStatusOk,
//	        },
//	        Memory: &fleet.DeviceMemory{
//	            Available: fleet.Int64(
//	                int64(3869261824),
//	            ),
//	            Status: fleet.DeviceMemoryStatusOk,
//	            Total: fleet.Int64(
//	                int64(17179869184),
//	            ),
//	        },
//	        NextS: int64(300),
//	        Power: &fleet.DevicePower{
//	            Source: fleet.DevicePowerSourceAc.Ptr(),
//	            Status: fleet.DevicePowerStatusOk,
//	        },
//	        Reason: fleet.DeviceReportReasonInterval,
//	        Rig: &fleet.DeviceRig{
//	            ClaudeVersion: fleet.String(
//	                "2.1.0 (Claude Code)",
//	            ),
//	            Commit: fleet.String(
//	                "4fd9d8e",
//	            ),
//	            ConfigApplied: fleet.Bool(
//	                true,
//	            ),
//	            LoggedIn: fleet.Bool(
//	                true,
//	            ),
//	            Login: &fleet.DeviceRigLogin{
//	                AuthMethod: fleet.String(
//	                    "claude.ai",
//	                ),
//	                LoggedIn: fleet.Bool(
//	                    true,
//	                ),
//	                RefreshExpires: fleet.Int64(
//	                    int64(1798618406000),
//	                ),
//	                Status: fleet.DeviceRigLoginStatusOk,
//	            },
//	            SessionRunning: fleet.Bool(
//	                true,
//	            ),
//	            Status: fleet.DeviceRigStatusOk,
//	            ToolsInstalled: fleet.Bool(
//	                true,
//	            ),
//	            WorkDir: fleet.String(
//	                "~/claude-work",
//	            ),
//	        },
//	        Schema: 1,
//	        Sleep: &fleet.DeviceSleep{
//	            DisplayS: fleet.Int64(
//	                int64(1800),
//	            ),
//	            IdleS: fleet.Int64(
//	                int64(0),
//	            ),
//	            Inhibited: fleet.Bool(
//	                true,
//	            ),
//	            Inhibitors: []string{
//	                "caffeinate",
//	            },
//	            LidAction: fleet.DeviceSleepLidActionSleep.Ptr(),
//	            Status: fleet.DeviceSleepStatusOk,
//	        },
//	        Tool: &fleet.DeviceTool{
//	            Command: "doctor",
//	            Name: fleet.String(
//	                "claude-rig",
//	            ),
//	            Version: "4fd9d8e",
//	        },
//	        Ts: int64(1790842406355),
//	        Vms: &fleet.DeviceVMs{
//	            List: []*fleet.DeviceVM{
//	                &fleet.DeviceVM{
//	                    KeepRunning: fleet.Bool(
//	                        true,
//	                    ),
//	                    KeeperStarts: fleet.Int(
//	                        1,
//	                    ),
//	                    Name: "claude-rig-linux",
//	                    Os: fleet.DeviceVMOsLinux.Ptr(),
//	                    Owner: fleet.String(
//	                        "claude-rig",
//	                    ),
//	                    State: "started",
//	                },
//	                &fleet.DeviceVM{
//	                    Name: "irgo-golden",
//	                    State: "stopped",
//	                },
//	            },
//	            Manager: fleet.String(
//	                "utm",
//	            ),
//	            ManagerRunning: fleet.Bool(
//	                true,
//	            ),
//	            Status: fleet.DeviceVMsStatusOk,
//	        },
//	    },
//	}
//	client.Devices.Report(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Report(
	ctx context.Context,
	request *fleet.ReportDevicesRequest,
	opts ...option.RequestOption,
) (*fleet.DevicePosted, error) {
	response, err := c.WithRawResponse.Report(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
